.header {
  position: absolute;
  top: 15%;
  left: 50%;
  translate: -50% -50%;
  width: 70%;
  margin: auto;
  padding: 15px;
  padding-inline: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  background-color: #7f62ff;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
    li {
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
  button {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: #7f62ff;
  }
}
