* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(92, 0, 162);
}
.title {
  font-size: 150px;
  text-align: center;
  padding-top: 30vh;
  color: rgb(255, 255, 255);
}
.head {
  background-image: url("/uvod.png");
  background-size: cover;
  height: 100vh;
}
.theblog {
  font-size: 50px;
}
.h2 {
  font-size: 50px;
  font-weight: lighter;
  text-align: center;
  color: white;
}

.legacy {
  width: 80%;
  margin: auto;
  margin-top: 80px;
}

.lidi {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  gap: 80px;
}
.jmeno {
  color: white;
  font-size: 50px;
  text-align: center;
  padding: 10px;
}

img {
  width: 100%;
}
.legacyArticle {
  margin-top: 50px;
}

.legacyText {
  color: white;
  font-size: 50px;
  text-align: center;
}
h4 {
  font-size: 70px;
  font-weight: bolder;
  text-align: center;
  color: white;
  background-color: rgb(255, 0, 0);

  padding: 30px;
  width: 100%;
  margin: auto;
  margin-top: 50px;
}
h4:visited {
  background-color: yellow;
}
.tekImg {
  width: 150px;
  margin-left: 50px;
}
.emptyDiv {
  margin-bottom: 150px;
}
