* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(92, 0, 162);
}
.title {
  font-size: 150px;
  text-align: center;
  padding-top: 30vh;
  color: rgb(255, 255, 255);
}
.bg_ufo {
  background-image: url("/Rectangle 5.png");
  background-size: cover;
  height: 100vh;
}

.bg_alcohol {
  background-image: url("https://www.mcgill.ca/oss/files/oss/styles/hd/public/alcohol.png?itok=VkPLqYOp&timestamp=1559847546");
  background-size: cover;
  height: 100vh;
}
.bg_illuminati {
  background-image: url("https://images.uncyclomedia.co/necyklopedie/cs/c/c3/Iluminat_cesky.png");
  background-size: cover;
  height: 100vh;
}
.bg_politics {
  background-image: url("https://static01.nyt.com/images/2019/10/08/business/00epgates1/00epgates1-articleLarge-v3.jpg?quality=75&auto=webp&disable=upscale");
  background-size: cover;
  height: 100vh;
}

.articles {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  gap: 10px;
}

.imi {
  width: 100%;
  height: 300px;
}

.post {
  width: 400px;
  background-color: rgb(143, 118, 255);
  margin: auto;
}

.articletitle {
  color: white;
  font-size: 40px;
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.articledescr {
  color: white;
  font-size: 30px;
  padding-left: 25px;
  padding-bottom: 20px;
}
.kmButton {
  text-decoration: none;
  background-color: rgb(92, 0, 162);
  color: rgb(143, 118, 255);
  font-weight: bold;
  font-size: 25px;
  border: none;
  padding: 10px;
  margin: 20px;
}
.autor {
  color: white;
  font-size: 25px;
  padding-left: 25px;
  padding-bottom: 5px;
}
.articledate {
  color: white;
  font-size: 20px;
  padding-left: 25px;
  padding-bottom: 5px;
}
